
.thumbnail{
    width: 100%;
}

.video-title{
    margin-top: 0;
    font-size: 14px;
    font-weight:500;
    line-height: 20px;
    margin-bottom: 10px;
}
.video-author,.video-stats{
    display: block;
    color: rgb(96,96,96);
    font-size: 12px;
}

.video-author{
    margin-bottom: 4px;
}
.video-info-grid{
    display:grid;
    grid-template-columns: 50px 1fr;
}
.channel-picture{
    display: inline-block;
    width:50px;
    vertical-align: top;
}
.video-desc{
    display: inline-block;
    width:200px;
    
}
.profile-picture{
    width:100%;
    border-radius: 20px;
    width: 36px;
}
.thumbnail-row{
    margin-bottom:8px;
    position: relative;
}
.video-time{
    background-color: black;
    color:white;
    position: absolute;
    bottom:8px;
    right: 5px;
    font-family: roboto,arial;
    font-size: 12px;
    font-weight: 500;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
}